{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "react/jsx-curly-spacing": [
      2,
      {
        "when": "always",
        "spacing": {
          "objectLiterals": "never"
        }
      }
    ],
    "react/prefer-stateless-function": [0],
    "comma-dangle": "off",
    "linebreak-style": 0
  },
  "plugins": ["react", "jsx-a11y", "import"]
}
